@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    display: block;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    color: var(--primary-color);
}
ul {
    padding-left: 0;
    list-style: none;
}
body {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    background-color: #f2f2f6;
    --primary-color: #2d2a6e;
    --secondary-color: #96ae00;
}
.btn-primary {
    background-color: #96ae00;
    border: 1px solid #96ae00;
}
.btn-primary:hover {
    background-color: #2d2a6e;
    border: 1px solid #2d2a6e;
}
.navbar {
    border-bottom: 1px solid #e6eaf0;
}
.navbar .navbar-brand img {
    width: 100px;
}
.navbar .nav-link {
    color: var(--primary-color);
    font-weight: 600;
}
.navbar .nav-link:hover {
    color: var(--secondary-color);
}
.navbar .nav-item {
    margin-left: 30px;
}
.navbar .navbar-icon a {
    margin-left: 10px;
    display: inline-block;
    background-color: #f5f2ff;
    color: var(--primary-color);
    padding: 12px;
    border-radius: 5px;
}
.carousel {
    margin-top: 55px;
    overflow-x: hidden;
}
.carousel .carousel-caption {
    bottom: 50%;
    left: 8%;
    color: #333;
    text-align: left;
    transform: translateY(50%);
    width: 40%;
}
.carousel .carousel-caption h3 {
    color: var(--secondary-color);
}
.carousel .carousel-caption h2 {
    font-family: "Nerko One", cursive;
    line-height: 85px;
    margin-bottom: 30px;
    color: var(--primary-color);
}
.carousel .carousel-caption .btn {
    font-weight: 700;
    border-radius: 30px;
    padding: 10px 20px;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #99b144;
    border-radius: 50%;
    background-size: 50%;
}
.carousel-control-prev {
    left: -50px;
}
.carousel-control-next {
    right: -50px;
}

.cate .card {
    padding: 20px 20px 0;
    border: none;
    border-radius: 15px;
    transition: 0.5s;
    margin-bottom: 20px;
}
.cate .card:hover {
    box-shadow: 0px 10px 30px rgb(61 110 168 / 10%);
    transform: translateY(-10px);
}
.cate .card img {
    width: 50%;
    margin: 0 auto;
}
.cate .card h4 {
    font-weight: 600;
}
.cate .card p {
    font-size: 14px;
    color: #999;
}

.headline {
    margin-bottom: 30px;
    text-align: center;
}
.headline .sub {
    text-align: center;
    color: var(--secondary-color);
    font-size: 14px;
}
.headline .title {
    color: var(--primary-color);
    font-family: "Nerko One", cursive;
    font-size: 40px;
}
.headline .desc {
    color: var(--primary-color);
}
.card-product {
    background-color: #f7f7f9;
    border: 1px solid #5e5d8e24;
    position: relative;
    display: block;
    margin-bottom: 15px;
}
.card-product .thumb {
    position: relative;
}
.card-product .sale {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ea0d42;
    background-color: #facfd4;
    padding: 3px 9px;
    font-weight: 500;
    font-size: 12px;
}
.card-product .content {
    padding: 15px;
}
.card-product .cate {
    font-size: 12px;
    margin-bottom: 5px;
}
.card-product .title {
    font-size: 15px;
    color: var(--primary-color);
}
.card-product .star {
    font-size: 10px;
    color: #fc0;
}
.card-product .price {
    margin-top: 15px;
}
.card-product .price span:first-child {
    color: #ea0d42;
    font-size: 18px;
    font-weight: 600;
}
.card-product .price span:last-child {
    color: #bebebe;
    font-size: 13px;
    text-decoration: line-through;
    margin-left: 5px;
}
.card-product .info {
    position: absolute;
    height: 100%;
    bottom: -10px;
    border-radius: 0px;
    background-color: #f7f7f9e6;
    width: 100%;
    border: 1px solid #5e5d8e24;
    padding: 20px 20px 0;
    border-top: none;
    left: 0px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.card-product:hover .info {
    box-shadow: 0px 10px 30px rgb(61 110 168 / 10%);
    opacity: 1;
    visibility: visible;
    bottom: 0;
}
.card-product .info ul {
    font-size: 12px;
    color: var(--primary-color);
    margin: 10px;
}
.product {
    margin: 50px 0;
}
.nav-tabs {
    border-bottom: none;
    margin-bottom: 30px;
}
.nav-tabs .nav-link {
    color: var(--primary-color);
    border: none;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
    background-color: transparent;
    border: none;
    color: var(--secondary-color);
}
.healthy .headline {
    text-align: left;
}
.healthy .headline .sub {
    text-align: left;
}
.healthy .headline .title2 {
    font-size: 40px;
    font-weight: bold;
    color: var(--primary-color);
}
.healthy .headline .title2 span {
    color: var(--secondary-color);
}
.healthy .list .name {
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-color);
    border-bottom: 1px dashed var(--primary-color);
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.healthy .list button {
    font-size: 20px;
    margin-top: 30px;
    padding: 5px 20px 8px;
}
.banner .card {
    margin-bottom: 15px;
}
.banner .card .card-title {
    color: #ffd600;
    font-size: 15px;
}
.banner .card .card-text {
    font-weight: bold;
    color: #fff;
    font-size: 25px;
}
.banner .card .card-text span {
    display: block;
}
.banner .card .card-desc {
    color: #fff;
}
.news .card {
    border: none;
    display: block;
    overflow: hidden;
    margin-bottom: 15px;
}
.news .card .card-title {
    font-weight: bold;
    color: var(--primary-color);
    font-size: 16px;
}
.news .card .card-text {
    color: var(--primary-color);
    font-size: 14px;
}
.news .card .card-link {
    font-weight: bold;
    color: var(--secondary-color);
    transition: 0.5s;
}
.news .card .card-thumb {
    overflow: hidden;
}
.news .card .card-img-top {
    transition: 0.5s;
}
.news .card:hover .card-img-top {
    transform: scale(1.1);
}

.footer {
    background-color: var(--primary-color);
    padding: 50px 0;
    color: #b0afcc;
    font-size: 14px;
}
.footer .title {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 30px;
}
.footer .email a {
    color: var(--secondary-color);
    font-weight: bold;
}
.footer .social {
    margin-top: 35px;
}
.footer .social .text {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer .social .icon a {
    color: #fff;
    margin-right: 15px;
}
.footer .address {
    margin-bottom: 30px;
}
.footer .info li {
    margin-bottom: 5px;
}
.footer .info li span {
    color: #fff;
}
.footer .info li a {
    color: inherit;
    transition: 0.5s;
}
.footer .info li a:hover {
    padding-left: 10px;
}

.footer form {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    margin-top: 30px;
}
.footer form input {
    border: none;
    outline: none;
}
.footer form button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}
@media (max-width: 991px) {
    .navbar .navbar-collapse {
        position: absolute;
        top: 65px;
        left: 0;
        background-color: #fff;
        width: 100%;
    }
    .carousel .carousel-caption h3 {
        display: none;
    }
    .carousel .carousel-caption h2 {
        font-size: 30px;
        line-height: unset;
    }
    .carousel .carousel-caption p {
        display: none;
    }
    .carousel .carousel-caption .btn {
        display: none;
    }
    .carousel-control-prev {
        left: 0;
    }
    .carousel-control-next {
        right: 0;
    }
    .footer {
        padding: 30px 0;
    }
    .footer .title {
        margin-top: 15px;
    }
}
@media (max-width: 575px) {
    .carousel .carousel-caption h2 {
        font-size: 20px;
    }
    .cate .card {
        padding: 10px 10px 0;
    }
    .news .card .card-link {
        display: none;
    }
    .news .card .card-text {
        margin-bottom: 0;
    }
    .news {
        margin: 30px 0 !important;
    }
}
